@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

:root {
  --main-color: #000000;
  --addition-color: #333333;
  --background-base-color: #FFFFFF;
  --background-main-color: #82B3D3;
  --background-addition-first-color: rgba(131, 179, 211, 0.12);
  --background-addition-second-color: rgba(131, 179, 211, 0.2);
  --button-main-color: #756157;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--addition-color);
  background-color: var(--background-base-color);
}

/* Pages */
.container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.main-logo {
  margin-left: 70px;
}

.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation {
  width: 400px;
  margin-left: 30px;
  padding: 20px 17px;
}

.user-navigation {
  max-width: 300px;
  margin-left: auto;
  padding: 14px 11px 15px;
}

.user-navigation .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--main-color);
  display: block;
}

.button-navigation {
  padding: 9px 15px 8px;
}

.promo {
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 485px;
}

.main-container {
  flex-grow: 1;
}

.main-index h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

/*.promo-title::before {*/
/*  content: '';*/
/*  height: 352px;*/
/*  width: 458px;*/
/*  background:url("../img/welcome.svg");*/
/*  margin: 51px auto 81px;*/
/*  display: block;*/
/*}*/

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 51px;
}

.promo-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
}

.promo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  order: -1;
  margin-bottom: 145px;
}

.promo-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--addition-color);
  margin-bottom: 90px;
}

.advantage-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  min-height: 385px;
}

.advantage-item {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantage-container {
  display: flex;
}

.advantage-item-blue {
  text-align: center;
  color: var(--background-base-color);
  background-color: var(--background-main-color);
  padding: 92px 85px 0px;
}

.advantage-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}

.advantage-item-number {
  font-size: 18px;
  line-height: 21px;
}

.advantage-item-info {
  font-size: 18px;
  line-height: 21px;
}

.advantage-item-light-blue {
  background-color: var(--background-addition-first-color);
  /*padding-top: 80px;*/
}

.advantage-item-light {
  background-color: var(--background-base-color);
}

.advantage-item-light-blue2 {
  background-color: var(--background-addition-second-color);
}

.offer {
  text-align: center;
  padding-top: 91px;
  min-height: 417px;
}

.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 29px;
}

.offer-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--addition-color);
  margin-bottom: 56px;
}

.offer-button {
  padding: 12px 15px;
}


.mailing {
  background-image: url("../img/mailing-background.jpg");
  background-repeat: no-repeat;
  background-color: var(--background-addition-first-color);
  text-align: center;
  color: var(--background-base-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.mailing-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.mailing-text {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 46px;
}

.mailing-form {
  justify-content: center;
  display: flex;
  /*margin-bottom: 94px;*/
}

.mailing-form-email {
  flex-grow: 1;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  padding: 40px 70px 30px;
}

.social {
  list-style: none;
  display: flex;
}

.footer-link {
  color: var(--main-color);
  text-decoration: none;
}


.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--background-base-color);
  background-color: var(--button-main-color);
  text-transform: uppercase;
}

.button-blue {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--background-base-color);
  background-color: var(--background-main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
